$color-primary:  rgb(130, 164, 214);
$color-secondary: #ada4d6;
$color-pale: #eae9f6;
$color-mid:  rgb(120, 145, 216);
$color-dark: #cdc3e7;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$body-font: "Open Sans", sans-serif;
$header-font: "Lobster", cursive;
body {
    font-family:$body-font;
}

h1,h2,h3 {
    font-family: $header-font;
    }
    h2 {
        color: $color-primary;
    }

    h2 {
        color: rgb(98, 78, 170);
    }
    h1{
        color:rgb(251, 251, 251)
    }
    header {
        padding: 50px;
        
    }
    header
    { h2 {
        color:$color-pale;
    }
}

    footer {
        background-image: linear-gradient(#88abc7, white);
        padding: 20px 0
    }

    .jumbotron {
        padding: 30px;
        background-image: linear-gradient(to right, $color-secondary, $color-primary, $color-dark);
        color: rgb(251, 251, 251);
        margin: 0px;
    }
    .row-content {
        padding: 50px 0;
        border-bottom: 1px ridge;
        min-height: 200px;
    }
    .navbar {
        background-color:$color-mid; 
    }
    .form-background {
        width:100%;
        background-color:rgb(189, 194, 207);
        padding: 20px;
        display:block;
        
    }
 .tab-content{
     background-color: #dfe5e9;
     border:1px solid #DDD;
     border-top:none;
     padding: 10px;
 }

 #carouselButton{
     position:absolute;
     right:0;
     bottom:0;
 }
    
      